
#content {
  margin: 0 auto;
  width: 900px;
}

h1 {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  color: black;
  text-align: left;
}
h2 {
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
  color: #737373;
  text-align: left;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: grey;
}

.photo1 img {
    width: 75%;
    margin-left: 0px;
}

.photo1 p {
  text-align: left;
  color: grey;
  font-weight: lighter;
  font-size: 8px;
  margin-top: 0px;
  align-items: baseline;
}
